@import "~src/assets/stylesheet/fontStyle.scss";
@import "~src/assets/stylesheet/color";

$border:4px solid #0dace8;

.search-container{
    background-color: #ececec;
    @extend .font-style;
    padding: 20px;
    .title{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #383838
    }
    .search-box{
        text-align: center;
        padding: 10px;
        .search-input-box, .total-person, .gender, .location-wrapper{
            display: inline-block;
            cursor: pointer;
            box-sizing: border-box;
        }
        .choose-person-container{
             display: inline-block 
            }
            .gender-wrapper{
                display: inline-block;                
            }
            .location{
                padding: 10px 10px 8px !important;
                img{
                    width: 20px;
                    vertical-align: middle;
                }
            }
            .show-locations{
                position: absolute;
                background: white;
                padding: 10px 20px;
                box-shadow: 1px 5px 8px #888888;
                z-index: 1;
                .search-box{
                    padding: 10px;
                    margin-top: 10px;
                    background-color: white;
                    border: none;
                    border-bottom: 1px solid black;
                    &:focus{
                        border-bottom: 1px solid skyblue;   
                        outline: none;                       
                    }
                }
                .city-wrapper{
                    position: relative;
                    .city{
                        padding: 10px 0;
                        cursor: pointer;
                        color: $sky_Blue;
                        font-weight: 500;
                        .side-arrow{
                            float: right;
                            img{
                                width: 20px;
                                vertical-align: middle;   
                            }
                        }
                        &:hover{
                            background-color: #ebefd0;;
                        }
                    }
                    .localities{
                        z-index: 1;
                        position: absolute;
                        left: 103px;
                        top: 0px;
                        padding: 10px 20px 20px;
                        box-shadow: 1px 5px 8px #888888;
                        background: white;
                        .each-localities{
                            padding: 10px 0;
                            border-bottom: 1px solid #ff4f0b;
                            &:last-of-type{
                                border: none;
                            }
                            &:hover{
                                background-color: #ebefd0;;
                            }
                        }
                    }
                }
                
            }
        .total-person, .gender, .location{
            border-top: $border;
            padding: 10px;
            border-bottom: $border;
            background: white;
        }
        .gender{
            border-left: $border;
            border-right: $border;
        }
        .search-btn{
            border: $border;
            padding: 10px;
            background: $Red_orange;
            color: white;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
        }
        .person-count, .choose-gender{
            background-color: white;
            position: absolute;
            padding: 10px;
            box-shadow: 1px 5px 8px #888888;
            z-index: 1;
            .wrapper{
                .operator-btn{
                    padding: 5px 10px;
                    font-size: 16px;
                    background-color: skyblue;
                    border: none;
                    color: white;
                }
                span{
                    padding: 10px;
                }
            }
            .category{
                padding: 10px 20px;
                cursor: pointer;
                color: $sky_Blue;
                &:hover{
                    background-color: #ebefd0;;
                }
            }
        }
    }
    
}