@import "~src/assets/stylesheet/fontStyle.scss";
@import "~src/assets/stylesheet/color";

.wrapper{
    background-color: $sky_Blue;
    color: $white;
    @extend .font-style; 
    .header{
        padding: 10px;
        font-weight: 600;
        .action-buttons{
            padding-top: 10px;
            button{
                padding: 7px 10px;
                background: $Red_orange;
                color: $white;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
                border: 1px solid $puerto_rico;
                border-radius: 2px;
            }
        }   
    }   
.filter{
    .type{
        padding: 10px;
        border-bottom: 1px solid $gallery;
        font-weight: 600;
        &:last-of-type{
            border-bottom: 0;
        }
        .down-arrow{
            float: right;
            cursor: pointer;
        }
        .wrapper{
            background-color: $gallery;
            color: $mine_shaft;
            margin-top: 10px;
            .options{
                padding: 10px;
                position: relative;
            }
        }
    }
}
}