@import "~src/assets/stylesheet/fontStyle";
@import "~src/assets/stylesheet/color";

.city-name-collection-wrapper{
    padding: 10px 50px;
    background-color: $sky_Blue;
    @extend .font-style;    
    box-sizing: border-box;
    z-index: 1;
    .list{
        display: inline-block;
        padding:  0 10px;
        border-right: 1px solid;
        color: white;
        cursor: pointer;
      
        span{
            cursor: pointer;            
        }
        .locality{
            background-color: white;
            position: absolute;
            padding: 10px 0;
            box-shadow: 1px 5px 8px #888888;
            .locality-name{
                padding: 10px 20px;
                cursor: pointer;
                color: $sky_Blue;
                &:hover{
                    background-color: #ebefd0;;
                }
            }
        }
        /** remove when ther are more than one city name present **/
        &.city-name{
            border: none;
        }
    }
    .list:last-child{
        padding-right: 0px;
        border-right: none ;
    }
    .header-list{
        float: right;
    }
    /** make header sticky **/
    
&.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }  
}