
<div class="city-name-collection-wrapper" id="myHeader">
  <div *ngFor="let list of cityArr; let i = index" class="city-name list" (clickOutside)="onClickedOutside($event,list)">
     <span (click)="showList(list)" >{{list.name}}</span>
     <div *ngIf="list.show" class="locality">
       <div *ngFor="let value of list.locality; let j = index" class="locality-name">{{value}}</div>
    </div>
  </div>
  <div class="header-list">
    <div class="list" (click)="onHomeClick()" >Home</div>
    <div class="list" (click)="onContactUsClick()">Contact us</div>
    <div class="list" [routerLink]="['/favourite']">Favourites</div>  
    <div class="list" (click)="openDashBoard()">Register Your Hostel</div>    
  </div>
</div>


