@import "~src/assets/stylesheet/fontStyle";
@import "~src/assets/stylesheet/color";

.hostel-list-container{
    .img-container{
        display: inline-block;
        .img-size{
            width: 250px;
            height: 200px;
        }
    }
   
    .item{
        border-top: 3px solid $sky_Blue;
        box-shadow: 3px 2px 2px $sky_Blue;
        margin-bottom: 10px;
        width: 100%;
        position: relative;
        .desc{
            display: inline-block;
            vertical-align: top;
            padding: 16px 20px 10px 20px;
            width: 62%;
            .header
            {
                display: inline-block;
                .label{
                    font-size: 30px;
                    font-weight: 600;
                    color: $Limed_Spruce;
                    font-family: $fontFamily;
                    margin-bottom: 10px;
                }
                .review{
                    color: $Limed_Spruce;
                    font-family: $fontFamily;
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;                    
                    }
                }
                .pg-for{
                    @extend .font-style;
                    margin-bottom: 10px;
                }
            }
            .item-container{
                font-family: $fontFamily;
                color: $Limed_Spruce;  
                margin-bottom: 10px;
                .item-label{
                    font-weight: 600;                     
                }             
            }
        }
        .booking{
            position: absolute;
            right: 10px;
            top: 10px;
            button{
                color: $white;
                padding: 15px;
                background-color: $sky_Blue;
                border: none;
                font-weight: 600;
                font-size: 15px;
                cursor: pointer; 
                border-radius: 2px;                  
            }
        }
        .favourite{
            position: absolute;
            right: 15px;
            bottom: 10px;
            .fav-icon{
                cursor: pointer;
                .no-color-icon-size{
                    width: 20px;
                    height: 20px;
                }
                .color-icon-size{
                    width: 35px;
                    height: 35px;
                }
            }
        }
      
    }
  
}
