<div class="city-name-collection-wrapper">
  <div *ngFor="let list of cityDataArr; let i = index" class="city-name list" (clickOutside)="onClickedOutside($event,list)">
     <span (click)="list.show = !list.show" >{{list.name}}</span>
     <div *ngIf="list.show" class="locality">
       <div *ngFor="let value of list.locality; let j = index" class="locality-name">{{value}}</div>
    </div>
  </div>
  <div class="header-list">
    <div class="list">Register Your Hostel</div>
    <div class="list">Contact us</div>
    <div class="list">Favourites</div>    
  </div>
</div>
