.home-wrapper{
   // width: 100%;
    // some temporary code needs to remove
    width: 80%;
    margin: 10px auto;
    // some temporary code needs to remove 

    .filter-container{
        width: 25%;
        display: inline-block;
        vertical-align: top;
    }
    .hostel-list-container{
        display: inline-block;
       // width: 74.5%;
       // some temporary code needs to remove
       width: 100%;
      // some temporary code needs to remove
    }
}