.home-wrapper{
    width: 100%;
    .filter-container{
        width: 25%;
        display: inline-block;
        vertical-align: top;
    }
    .hostel-list-container{
        display: inline-block;
        width: 74.5%;
    }
}