<div class="hostel-list-container">
  <ng-container *ngIf="(hostelArr && hostelArr.length>0); else noHostelDataTemplate">
    <div *ngFor="let list of hostelArr; let i = index" class="item">
      <div class="img-container" *ngIf="list.img && list.img.length>0">
        <img src={{list.img[0].url}} class="img-size">
      </div>
      <div class="desc">
        <div class="header">
          <div class="label">{{list.label}}</div>
          <div class="pg-for item-container">
            <span class="item-label">PG For :&nbsp;</span>
            <span>{{list.pg_for}}</span>
          </div>
        </div>
        <div class="location item-container">
          <span class="location_label item-label"> Location :&nbsp; </span>
            <span> {{list.lane}}</span>,&nbsp;
            <span> {{list.city}}</span>,&nbsp;
            <span> {{list.state}}</span>,&nbsp;
            <span>{{list.pincode}}</span>.
        </div>
        <div class="owner-contact-number item-container">
          <span class="item-label"> Description :&nbsp; </span>
          <span> {{list.desc}}</span>
        </div>
        <div class="owner-contact-number item-container">
          <span class="item-label"> Contact Number :&nbsp; </span>
          <span> {{list.contact_number}}</span>
        </div>
        <div class="owner-contact-number item-container">
          <span class="item-label"> Food Available :&nbsp; </span>
          <span> {{list.food_available}}</span>
        </div>
        <div class="button-wrapper">
          <button class="btn-style" (click)="editHostelData(list)">Edit</button>
          <button class="btn-style" style="margin-right:0" (click)="openDialog('delete', i, list)">Delete</button>
        </div>
      </div>
        <div class="sharing">
          <div class="label">Sharing</div>
          <div>
            <table class="sharing-data-table">
              <tr class="table-header">
                <th>Sharing</th>
                <th>Price</th>
                <th>Available</th>
                <th>Amenities</th>
              </tr>
              <tr *ngFor="let val of list.sharing; let odd = odd ; let even = even">
                <td [ngClass]="{odd:odd, even:even}">{{val.sharing}}</td>
                <td [ngClass]="{odd:odd, even:even}">{{val.price}}</td>
                <td [ngClass]="{odd:odd, even:even}">{{val.available}}</td>
                <td [ngClass]="{odd:odd, even:even}">{{val.amenities}}</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </ng-container>
  <ng-template #noHostelDataTemplate>
      <div class="no-data-available" *ngIf="(hostelArr && hostelArr.length == 0)">
        <img src="./assets/images/exclamation-mark.png" width="150px" height="150px">
        <div class="text">You haven't added any hostels</div>
      </div>
  </ng-template>
</div>