.font-style{
    font-weight: 500; 
    font-family: sans-serif;
    font-size: 16px;
}
@mixin commonBtn($fontSize, $border, $color, $backgroundColor, $padding, $cursor){
    font-size: $fontSize;
    border: $border;
    color: $color;
    background-color: $backgroundColor;
    padding: $padding;
    cursor: $cursor;
}
$fontFamily: sans-serif;