<div class="form-wrapper">
  <div class="form">
    <div class="label">{{data.param}}</div>
    <div *ngIf="data.param === 'Schedule Visit'" class="user-info">
      We will use your data for sending the notification to Owner
    </div>
    <!-- login form starts-->

    <div class="login" *ngIf="data.param === 'login'">
      <form [formGroup]="userLoginObj" (ngSubmit)="userLogin(userLoginObj)">
        <div class="username">
          <input type="email" autocomplete="off" name="username" id="username" placeholder="User Name" formControlName="email" />
        </div>
        <div class="password">
          <input type="password" name="password" autocomplete="off" id="password" placeholder="Password" formControlName="password"
          />
        </div>
        <div class="forgot-password" (click)="data.param = 'Forgot Password'; clearForgotFields()">Forgot Password?</div>
        <div class="submit">
          <button type="submit" [disabled]="!userLoginObj.valid" [class.disable-btn]="!userLoginObj.valid" [class.enable-btn]="userLoginObj.valid">Submit</button>
        </div>
      </form>
    </div>

    <!-- login form ends -->

    <!-- Register form starts -->

    <div class="register" *ngIf="data.param === 'register' || data.param === 'Schedule Visit'">
      <div class="personal-details">Personal Details
        <span class="mandatory">All Fields are mandatory.</span>
      </div>
      <form [formGroup]="userDetails" (ngSubmit)="registerDetails(userDetails)">
        <div class="user-type" *ngIf="data.param === 'register'">
          I am
          <div class="user styled-radio">
            <input type="radio" id="test1" name="typeOfUser" (click)="getRadioVal('owner')">
            <label for="test1">Owner</label>
          </div>
          <div class="user styled-radio">
            <input type="radio" id="test2" name="typeOfUser" (click)="getRadioVal('tenant')">
            <label for="test2">Tenant</label>
          </div>
        </div>
        <div class="fields">
          <input type="text" placeholder="Enter Your Name" name="name" autocomplete="off" class="input-box" formControlName="name">
        </div>
        <div class="fields email-box">
          <input type="email" placeholder="Enter Your Email" autocomplete="off" name="email" class="input-box" formControlName="email">
        </div>
        <div class="fields submit verify-btn">
          <button type="button" (click)="sendVarificationEmail(userDetails)" autocomplete="off" class="enable-btn verify-email">Verify Email ID</button>
        </div>
        <div class="fields">
          <input type="text" placeholder="Enter six digit Code" autocomplete="off" (keypress)="numberOnly($event)" name="code" class="input-box code"
            formControlName="enterCode">
        </div>
        <div class="fields">
          <input type="text" placeholder="Contact Number" autocomplete="off" name="mobileNum" class="input-box" formControlName="mobileNum">
        </div>
        <div class="fields" *ngIf="data.param === 'register'">
          <input type="password" placeholder="Password" name="password" class="input-box" formControlName="password">
        </div>
        <div class="fields" *ngIf="data.param === 'register'">
          <input type="password" placeholder="Confirm Password" name="confirmPassword" class="input-box" formControlName="conFirmPass">
        </div>
        <div class="fields submit">
          <button type="submit" [disabled]="!userDetails.valid" [class.disable-btn]="!userDetails.valid" [class.enable-btn]="userDetails.valid">Submit</button>
        </div>
      </form>
    </div>

    <!-- Register form ends -->

    <!-- Forgot password code below -->

    <div class="forgot-password" *ngIf="data.param == 'Forgot Password'">
      <form [formGroup]="forgotPassObj" (ngSubmit)="forgotPassword(forgotPassObj)">
        <div class="username">
          <input type="email" autocomplete="off" name="email" id="ForgotPasswordEmail" placeholder="Enter Email" formControlName="email"
          />
        </div>
        <div class="forgot-password" (click)="data.param = 'login'; clearLoginFields()">Back</div>
        <div class="submit">
          <button type="submit" [disabled]="!forgotPassObj.valid" [class.disable-btn]="!forgotPassObj.valid" [class.enable-btn]="forgotPassObj.valid">Submit</button>
        </div>
      </form>
    </div>
    <!-- Forgot password code above -->

    <!--update password below-->

    <div class="forgot-password" *ngIf="data.param == 'update password'">
      <form [formGroup]="updatePasswordObj" (ngSubmit)="updatePassword(updatePasswordObj)">
        <div class="username">
          <input type="email" autocomplete="off" name="email" id="email" placeholder="Enter Email" formControlName="email" />
        </div>
        <div class="username">
          <input type="password" placeholder="Password" name="password" class="input-box" formControlName="password">
        </div>
        <div class="username">
          <input type="password" placeholder="Please give updated password" name="password" class="input-box" formControlName="updatePassword">
        </div>
        <div class="submit">
          <button type="submit" [disabled]="!updatePasswordObj.valid" [class.disable-btn]="!updatePasswordObj.valid" [class.enable-btn]="updatePasswordObj.valid">Submit</button>
        </div>
      </form>
    </div>

    <!--update password above-->

    <!-- Add Review Form starts -->

    <div class="review" *ngIf="data.param === 'review'">
      <div class="form-label"><label>Rating</label></div>
      <div class="fields">
        <select class="input-box" placeholder="Choose Rating" name="ratingSelect">
          <option *ngFor = "let list of [0,1,2,3,4]; let i = index" [ngValue]="list" name="rating">{{i+1}}</option>
         </select>
      </div>
      <div class="comments"><textarea rows="5" cols="50" placeholder="please write comments here..."></textarea></div>
      <div class="submit">
        <button (click)="submitDetails()">Submit</button>
      </div>
    </div>

    <!-- Add Review Form Ends -->

  </div>
</div>