@import "~src/assets/stylesheet/fontStyle";
@import "~src/assets/stylesheet/color";

.footer-container{
    background-color: #ececec;
    padding: 20px;
    margin-top: 20px;
    .form-wrapper{
        display: inline-block;
        width: 50%;
        border-right: 1px solid;
        .contact-us-form{
            float: right;
            margin-right: 30px;
            text-align: center;
            input, textarea{
                padding: 5px;
                margin-bottom: 10px;
                width: 300px;
                height: 30px;
                border: 4px solid $sky_Blue;
            }
            textarea{
                height: 80px;
            }
            .submit-button{
                button{
                    padding: 10px 20px;
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    &.disable-btn{
                        color: #615f5f;
                        background-color: #adadad;
                    }
                    &.enable-btn{
                        background-color: $sky_Blue;
                        color: white;                        
                    }
                }

            }
        }
    }
    .contact-us{
        display: inline-block;
        vertical-align: top;
        width: 49%;
        .contact-wrapper{
            margin-left: 30px;
            .bottom-space{
                margin-bottom: 10px;
                .icon{
                    display: inline-block;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                .value{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 10px;
                    font-family: $fontFamily;
                    color: #3c4951;
                    font-size: 16px;
                    a{
                        text-decoration: none;
                        color: #3c4951;                        
                    }
                }
            }
            
        }
    }
}
.copyright{
    background-color: $sky_Blue;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-family: $fontFamily;
}