<div class="footer-container">
  <div class="form-wrapper">
    <div class="contact-us-form">
      <div class="name">
        <input type="text" name="name" id="name" placeholder="Name" autocomplete="off">
      </div>
      <div class="email" >
          <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">          
      </div>
      <div class="telephone">
          <input type="text" name="telephone" id="telephone" placeholder="Telephone" autocomplete="off">          
      </div>
      <div class="comment" >
          <textarea type="text" name="comment" id="comment" placeholder="Comment" autocomplete="off"></textarea>                    
      </div>
      <div class="submit-button" name="submit" id="submit">
        <button name="submit" id="submit">Submit</button>
      </div>
    </div>
  </div>
  <div class="contact-us">
      <div class="contact-wrapper">
        <div class="number bottom-space">
          <div class="icon">
            <img src="assets/images/iconfinder_call.svg">
          </div>
          <div class="value">+91 123456779</div>
        </div>
        <div class="address bottom-space">
            <div class="icon">
                <img src="assets/images/iconfinder_home.svg">                
            </div>
            <div class="value">newtown Rajarhat, Action Area 3</div>  
        </div>
        <div class="email bottom-space">
            <div class="icon">
                <img src="assets/images/iconfinder_mail.svg">                
            </div>
            <div class="value">abx@gmail.com</div>  
        </div>
        <div class="facebook bottom-space ">
            <div class="icon">
                <img src="assets/images/iconfinder_facebook.svg">                
            </div>
            <div class="value"><a href="#">Facebook</a></div>  
        </div>
        <div class="twitter bottom-space">
            <div class="icon">
                <img src="assets/images/iconfinder_twitter.svg">                
            </div>
            <div class="value"><a href="#">Twitter</a></div>  
        </div>
      </div>
  </div>
</div>
<div class="copyright">&copy;CopyRight. All Rights Reserved</div>