<div class="hostel-details-form-container">
  <div class="label">Hostel Details</div>
  <form (ngSubmit)="submitHostelDetails(hostelObj)">
    <div>
      <div class="form-label"> <label>Title</label></div>
      <div class="fields">
        <input type="text" placeholder="Enter Title" name="title" class="input-box" [(ngModel)]="hostelObj.label">
      </div>
    </div>
    <div class="types-of-sharing">
      <div class="form-label"><label>Upload Mutliple Images</label></div>
      <div class="fields">
        <input #myInput type="file" placeholder="Upload Mutliple Images" name="img" (change)="uploadSingleImg($event)" class="input-box" multiple>
      </div>
      <div class="img-list" *ngFor="let list of imgArray">
        <img [src]=list.url width="300px" height="200px">
      </div>
      <div class="fields submit"><button (click)="uploadImages();$event.stopPropagation()">upload</button></div>
      <div class="img-loader" *ngIf="loaderImgFlag">
        <div class="loader"></div>        
      </div>
    </div>
    <div>
      <div class="form-label"><label>PG For</label></div>
      <div class="fields">
        <input type="text" placeholder="pg for which gender" name="pgFor" class="input-box" [(ngModel)]="hostelObj.pg_for">
      </div>
    </div>
    <div>
      <div class="form-label"><label>Food Available</label></div>
      <div class="fields">
        <div class="input-box">
          <input type="radio" name="foodAvailable" value="Yes" [(ngModel)]="hostelObj.food_available"> Yes
          <input type="radio" name="foodAvailable" value="No" [(ngModel)]="hostelObj.food_available">No
        </div>
      </div>
    </div>
    <div>
      <div class="form-label"><label>Sharing</label></div>
      <div class="types-of-sharing">
        <div class="sharing-container" *ngFor="let list of hostelObj.price">
          <div class="fields">
            <input type="text" placeholder="sharing" name="sharing" class="input-box" [(ngModel)]="list.sharing">
          </div>
          <div class="fields">
            <input type="text" placeholder="price" name="price" class="input-box" [(ngModel)]="list.price">
          </div>
          <div class="fields">
            <input type="text" placeholder="Available Beds" name="available" class="input-box" [(ngModel)]="list.available">
          </div>
        </div>
        <div class="fields submit">
          <button (click)="addMoreSharing()">Add More</button>
        </div>
      </div>
    </div>
    <div>
      <div class="form-label"><label>Rating</label></div>
      <div class="fields">
        <select class="input-box" placeholder="Choose Rating" [(ngModel)]="hostelObj.rating" name="ratingSelect">
          <option *ngFor = "let list of [0,1,2,3,4]; let i = index" [ngValue]="list" name="rating">{{i+1}}</option>
    </select>
      </div>
    </div>
    <div>
      <div class="form-label"><label>Contact Number</label></div>
      <div class="fields">
        <input type="text" [(ngModel)]="hostelObj.contact_number" placeholder="Owner Contact Number" name="contact-owner" class="input-box">
      </div>
    </div>
    <div class="fields submit">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>