.user-feedback-container{
    .each-comment{
        margin: 0 auto;
        width: 70%;
        padding: 15px;
        background: #dedcdc;
        color: black;
        position: relative;
        border: 1px solid black;
        .angle-up{
            border-bottom: 10px solid black;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            width: 0;
            position: absolute;
            height: 0;
            top: 20px;
            cursor: pointer;
            right: 24px;
        }
        .angle-down{
            border-top: 10px solid black;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            width: 0;
            position: absolute;
            height: 0;
            top: 20px;
            cursor: pointer; 
            right: 24px;           
        }
        .comment-wrapper{
            background: white;
            padding: 10px 15px;
            box-shadow: 1px 1px 1px 1px #a09d9d;
            margin-top: 10px;
            .each-item{
                margin-bottom: 5px;
                .title{
                    display: inline-block;
                    font-weight: 600;                 
                    color: #3c4951;
                }
                .value{
                    display: inline-block;
                    margin-left: 10px;
                    color: #419db9;
                }
            }
        }
    }
}