/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~src/assets/stylesheet/fontStyle.scss";
@import "~src/assets/stylesheet/color";

body{
    margin: 0;
    font-family: sans-serif;
}

    .styled-checkbox {
       // position: absolute; // take it out of document flow
        opacity: 0; // hide it
        position: absolute;
        & + label {
          cursor: pointer;
          padding: 0;
          @media(max-width:425px){
            font-size: 12px;
          }
        }                        
        // Box.
        & + label:before {
          content: '';
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          background: #cecece;
          margin-right: 10px;
        }
      
        // Box hover
        &:hover + label:before {
          background: $Red_orange;
        }
        
        // Box focus
        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }
      
        // Box checked
        &:checked + label:before {
          background: $Red_orange;
        }
         // Checkmark. Could be replaced with an image
        &:checked + label:after {
            content: '';
            position: absolute;
            left: 14px;
            top: 20px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
            transform: rotate(45deg);
        }
    }
    .styled-radio{
             opacity: 0; // hide it
             position: absolute;
             & + label {
               cursor: pointer;
               padding: 0;
               @media(max-width:425px){
                font-size: 12px;
              }
             }                        
             // Box.
             & + label:before {
               content: '';
               display: inline-block;
               vertical-align: text-top;
               width: 20px;
               height: 20px;
               border-radius: 50%;
               background: #cecece;
               margin-right: 10px;
             }
           
             // Box hover
             &:hover + label:before {
               background: $Red_orange;
             }
             
             // Box focus
             &:focus + label:before {
               box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
             }
           
             // Box checked
             &:checked + label:before {
               background: $Red_orange;
             }
              // Checkmark. Could be replaced with an image
             &:checked + label:after {
                 content: '';
                 position: absolute;
                 left: 14px;
                 top: 14px;
                 background: white;
                 width: 12px;
                 height: 12px;
                 border-radius: 50%;
             }                          
    }
    .mat-dialog-container{
       padding: 24px 40px !important;
    }
    .mat-form-field-appearance-legacy {
      .mat-form-field-wrapper{
        padding: 0 !important;
    }
    .mat-form-field-infix{
      padding: 10px !important;
      border: 4px solid #0dace8;  
      background-color: white;    
    }
    .mat-form-field-label-wrapper{
      position: relative;
    }
    .mat-icon-button{
      position: absolute !important;
      right: 7px;
      bottom: -7px;  
    }
    .mat-form-field-underline{
      background-color: white;
      width: 0;
    }
  }